<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let worker of workers">
    <ion-item routerLink="/worker-detail">
      <ion-thumbnail slot="end">
        <ion-img [src]="worker.imageUrl" alt="worker.name"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{worker.name}}</h2>
        <h3>{{worker.description}}</h3>
        <ion-icon name="star"></ion-icon>{{worker.rating}}
        <p>{{worker.latitude}}, {{worker.longitude}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
