<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Favourites
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-list>
        <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/icon/favicon.png">
            </ion-avatar>
            <ion-label>Lorem ipsum</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/icon/favicon.png">
            </ion-avatar>
            <ion-label>
              <h3>Lorem ipsum</h3>
              <p>dolor sit amet</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="../../assets/icon/favicon.png">
            </ion-avatar>
            <ion-label>
              <h3>Lorem ipsum</h3>
              <p>dolor sit amet</p>
              <p>consectetur adipiscing elit. Duis ut urna neque.</p>
            </ion-label>
          </ion-item>
      </ion-list>
  </ion-content>