<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Messages
    </ion-title>
    <ion-icon name="settings" slot="end" routerLink="/message-settings" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title>Send and/or receive a message</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      You can directly message another user, worker or employer, PRIVATELY. Messages can be encrypted by visiting the settings page.
    </ion-card-content>
    <ion-button expand="block" routerLink="/new-message">start a message</ion-button>
  </ion-card>
</ion-content>
