<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>worker-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-avatar class="av-center">
        <img src="https://cdn.pixabay.com/photo/2017/06/26/02/47/people-2442565__340.jpg">
      </ion-avatar>
      <ion-card-title size="large">Shakiru Agbede</ion-card-title>
      <ionic4-star-rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#488aff" 
        defaultColor = "#f4f4f4"
        readonly="false"
        rating="5"
        fontSize = "22px">
    </ionic4-star-rating>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button color="success" expand="block" (click)="showAlert();">Contact Shakiru</ion-button>
  </ion-card>
</ion-content>
